body {
  margin: 0;
  background-color: #FFFEFA;
  background-image: url("img/bg-image@2x.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: -150px 180px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;

}

p {
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}
a {
  text-decoration: none;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}