.menu-item{
  background: #fff;
  width: 155px;
  height: 177px;
  margin: 5px;
  padding: 10px;
  border-color: #EBE7E7;
  border-radius: 5px;
}

.order-detail {
  width: 50%;
}

.menu-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.breakfast-content{
  display: flex;
}