.containerBreakfast {
    display: flex;
    margin: 5%;
}

.itemMenu {
    width: 50%;
    background-color: white;
    border: 1%;
}

.breakfastProducts{
display: flex;
flex-flow: wrap; 
width: 50%;
}

.btnBreakfast{
  padding: 5%;  
  margin: 2%;
  width: 120px;
  height: 120px;
  border-radius: 5%;
}