
.home-content {
    margin-top: 20vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bigBurger {
    height: 200px;
    padding: 20px;
} 



