
.home-content {
    padding: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bigBurger {
    height: 200px;
    padding: 20px;
    
} 
/* colores y radios de los botones */



