.menu-item{
    background: #fff;
    width: 155px;
    height: 177px;
    margin: 5px;
    padding: 10px;
    border-color: #EBE7E7;
    border-radius: 5px;
}

.order-detail {
    width: 50%;
}

.menu-content{
    width: 50%;
    overflow-y: scroll;
    height: 78vh;
    margin-right: 5px;
}

.lunch-content{
    display: flex;
}