.title-name {
    font-size: 15px;
    text-align: initial;
}

.name-container{
    display: flex;
    margin-bottom: 15px;
}

.name-container input {
    width: 100%;
    padding-right: 0;
    border: 1px solid #FFCC24;
    padding: 10px;
}

.save-name {
    background: #FFCC24;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #FFCC24;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}
.input-placeholder {
    padding: 0;
}
/* input {
    margin-bottom: 20px;
    margin-top: 0%;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    border:1px solid #FFCC24;
    margin-bottom: 20px;
} */
