.title-name {
    font-size: 15px;
    text-align: initial;
}

.name-container{
    display: flex;
    margin-bottom: 15px;
}

.name-container input {
    width: 100%;
    padding-right: 0;
    border: 1px solid #FFCC24;
    padding: 10px;
}

.save-name {
    background: #FFCC24 !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important; 
    border-radius: 5px;
    width: 100%;
    border: 1px solid #FFCC24 !important;
    font-family: "Lato", sans-serif !important;
    font-size: 12px !important;
    letter-spacing: 1px !important;
}
.input-placeholder {
    padding: 0;
}
