.item-box {
    display: flex;
    position: relative;
    justify-content: center;
    height: 200px;
    width: 150px;
    background: #fff;
    margin: 5px;
    border: 1px solid #EBE7E7;
    border-radius: 10px;
    font-size: 16px;
}

.item-box:hover {
    background: #efefef;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.item-box:focus {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    outline: none;
}
.item-box:active {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: 1px solid #656565;
}



.item-name {
    position: absolute;
    bottom: 24px;
    font-size: 13px;
    font-family: "Roboto",sans-serif;
}

.item-price {
    background: #585858;
    position: absolute; 
    bottom: 0; 
    width: 150px;
    padding: 5px 0;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item-price p {
    margin: 0;
}

.item-img{
    position: absolute;
    height: 40%;
    top: 25px;
}