
.navbar {
  background-color: #1F1F1F;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   height: 80px;   
  }
  .navLinks {
    display: flex;
    align-content: center;
    margin-right: 30px;
  }

  .logo {
    display: flex;
    align-content: center;
    margin-left: 15px;
    height: 50px;
  }


  a.Navigation-links{
    color: #ffffff;
    margin-left: 30px;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
  }

  a.Navigation-links:hover{
    color: #FFCC24;
  }