.order-detail{
    background: #fff;
    border: 1px solid #EBE7E7;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 14px;
    height: 94%;
    margin-top: 5px;
}

.order-title {
    margin-top: 20px;
    font-size: 15px;
}

.total-price {
    background: #FFCC24;
    position: absolute; 
    bottom: 0;
    padding: 10px 40px;
    width: -webkit-fill-available;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.total-price p {
    margin: 0;
}


.food-selected {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
}

.food-selected p {
    margin-bottom: 10px;
}