.bold-text {
    font-weight: 600;
}
.pending-container {
    background: #fff;
    text-align: left;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    margin-bottom: 80px;
}

.headline-text {
    line-height: 7px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    background: #DDDDDD;
    padding: 25px 40px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item-list {
    padding: 30px 60px 10px;
}

.icon-white {
    font-size: 30px;
    color: #fff;
}

.icon-black {
    font-size: 30px;
    color: #1F1F1F;
}

.btn-circle {
    border-radius: 100px;
    width: 70px;
    height: 70px;
    border: none;
    position: absolute;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.btn-trash {
    background: #FF0D3C;
    color: #fff;
    bottom: 17px;
    right: 120px;    
}

.btn-trash:hover {
    background: #ca0027;
}

.btn-edit {
    background: #FFCC24;
    color: #1F1F1F;
    bottom: 17px;
    right: 35px;    
}

.btn-edit:hover {
    background: #eab107;
}

.btn-ready:active {
    background: #c10026;
}

.pending-total {
    background: #585858;
    position: absolute; 
    width: 100%;
    padding: 10px 40px;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:0 15px 40px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
}

.pending-total p {
    margin: 0;
}